  <% if !obj.errors.empty? %>
      <div class="alert alert-danger" role="alert">
      <% obj.errors.full_messages.each do |message|%>
      <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
        <%= message %><br>
        <% end %>
      </div>
<% end %>