/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *

 */

@import "bootstrap-sprockets";
@import "bootstrap";
@import 'bootstrap-datetimepicker';

.panel-title-front-page {
  display:inline-block
}

.current_status_label{
   float:right
}

.panel-body-front-page{
  display:none
}

.panel-body-front-page-time-error{
  display:block
}

.reservation-list-btn,.expand-reserve{
  margin-bottom:10px
}

.reservation_list{
  display:none
}

.edit_reservation{
  display:inline
}